name: Managing MegaTech Database

services:
  db:
    image: postgres:18
    restart: always
    ports:
      - 5433:5432
    environment:
      POSTGRES_PASSWORD: randomPassword
      POSTGRES_USER: megatech
      POSTGRES_DB: megatech
    volumes:
      - ./database-code:/docker-entrypoint-initdb.d
      - database-data:/var/lib/postgresql
    
  adminer:
    image: adminer
    restart: always
    ports:
    - 8080:8080
    
volumes:
  database-data: